.columns-culture > div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.columns-culture img {
  width: 100%;
}

.columns-culture > div > div {
  order: 1;
}

.columns-culture > div > .columns-culture-img-col {
  order: 0;
}

.columns-culture > div > .columns-culture-img-col img {
  display: block;
}

.columns-culture p {
  line-height: 1.6;
  color: #333;
}

.columns-culture a.button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #fff;
  border: 2px solid #333;
  color: #333;
  text-decoration: none;
  margin-top: 16px;
}

.columns-culture a.button:hover {
  background-color: #333;
  color: #fff;
}

@media (width >= 900px) {
  .columns-culture > div {
    align-items: flex-start;
    flex-direction: row;
    gap: 48px;
  }

  .columns-culture > div > div {
    flex: 1;
    order: unset;
  }
}
